
/*************************************
* Add border box and fix parent collapse
*************************************/
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	display: block;
	margin: auto;
	width: 92%;
}

/*************************************
* Header styling
*************************************/
header {
	display: inline-block;
	width: 100%;
	height: 100px;
	margin-left: 1.25em;
}

h2 {
	margin-bottom: 0;
    font-family: sans-serif; 
}

p {
	font-size: 0.8em;
}

/*************************************
* Input field styling
*************************************/
/* For entire input region */
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

/* For input field styling */
.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border-radius: 0;
	color: #3C7D84;
	font-weight: 400;
    font-size: 16px; 
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	width: 100%;
/*	background-color: #d0d1d0;*/
    background-color: #A4D0D6; 
/*    outline: none;*/
	border: 2px solid transparent;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;
}

.input__field:focus {
	outline: none;
}

/* Input label box styling and animation
*  Input label is a box centered inside the input field
*/
.input__label {
	display: inline-block;
	float: right;
/*	color: #696969;*/
    color: #718F93;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	text-align: left;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	overflow: hidden;
	padding: 0 1.25em;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s ;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

/* Input label text styling and transitions */
.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
	color: #428891;
	padding: 0.25em 0;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

/* Transform the label text after input field is focused on */
.input__label-content::after {
	content: attr(data-content);
	position: absolute;
	font-weight: 800;
    bottom: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	color: #428891;
	padding: 0.25em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.85em;
}


/*************************************
* Input field transformation after focus
*************************************/
.input__field:focus + .input__label,
.input--filled .input__label {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.input__field:focus + .input__field,
.input--filled .input__field {
	background-color: #C0D1D3;
/*	border-color: #428891;*/
}


